.scoreCard{
    width: 500px;
    height: 56px;
    margin: 48.3px 68.7px 1.1px 65.7px;
    font-size: 44px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ff5155;
}