@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("static/bg-img.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Major Mono Display', monospace;
  /*font-size: 30px;*/
  color: #ff5155;
}